
.messa p {
    margin-left: 30%;
    font-style: italic;
    color: crimson;
}

.legend-caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 24px;
    background-color: #FFE4E1;
}

.dashboard {
    padding: 75px;
    width: 300px;
    background-color: #FFE4E1;
    margin: 150px auto 10px;
    border-radius:5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#listfriends {
    list-style: none;
    color: black;
    font-size: 15px;
    margin-bottom: 3px;
    background-color:#FFE4E1;
    border-radius:6px;
    text-align:center;
}

.tab-pane-friend {
    background-color: crimson;
    border: 17px solid crimson;
}

#buttons {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}

#buttons #connect {
    flex: 0 0 45%;
    border-radius: 4px;
    height: 29px;
    color: black;
    background-color: powderblue;
}


#buttons #logout {
    background-color: powderblue;
    flex: 1;
    color: black;
    border-radius: 4px;
    height: 29px;
}

#contacts {
    text-decoration: underline;
    text-align: center;
    margin: 2px;
    font-size:15px;
}

.ul-element {
    top: 4px;
}

.hidden-buttons {
    margin-top:15px;
    margin-left: 35px;
}

#loginForm span{
    color: red;
    font-size:10px;
}

