
@{
    ViewBag.Title = "Forgot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot your password</h2>

<body>

    <span> You have forgotten your password. Please change it below</span>
</body>